@model ALittleLeaf.ViewModels.RegisterViewModel

@section AddUserSection{
    <link rel="stylesheet" href="~/admin/add_user.css">
    <script src="~/js/validLoginAndRegistry.js" defer></script>
}
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Thêm người dùng";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Thêm người dùng</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Trang chủ</a></li>
                        <li class="breadcrumb-item active">...</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="form-wrap">
        <div class="form">
            <form asp-controller="AdminAddUser" asp-action="AddUser" method="post" onsubmit="return checkRegistry()">
                <div class="errors-wrap">
                    <span class="show-error" id="isExist-error" style="display:none;">Email đã tồn tại.</span>
                </div>
                <div class="input-wrap">
                    <div class="label-wrap">
                        <label for="fullname">Họ và tên*</label>
                    </div>
                    <input asp-for="UserFullname" name="UserFullname" type="text" id="fullname" placeholder="Họ và tên">
                    <div class="errors-wrap">
                        <span class="show-error" id="fullname-error" style="display:none;">*Vui lòng nhập Họ tên của bạn</span>
                    </div>
                </div>
                <div class="gender-wrap">
                    <div class="label-wrap">
                        <label for="gender">Giới tính*</label>
                    </div>
                    <div class="radio-wrap">
                        <input asp-for="UserSex" type="radio" id="radio1" name="UserSex" value="true" checked>
                        <label for="radio1">Nữ</label>
                        <input asp-for="UserSex" type="radio" id="radio2" name="UserSex" value="false">
                        <label for="radio2">Nam</label>
                    </div>
                    <div class="errors-wrap">
                        <span class="show-error" id="gender-error" style="display:none;">*Vui lòng chọn Giới tính của bạn</span>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="label-wrap">
                        <label for="birthday">Ngày sinh*</label>
                    </div>
                    <input asp-for="UserBirthday" name="UserBirthday" id="birthday" placeholder="mm/đd/yyyy">
                    <div class="errors-wrap">
                        <span class="show-error" id="birthday-error" style="display:none;"></span>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="label-wrap">
                        <label for="email">Email*</label>
                    </div>
                    <input asp-for="UserEmail" name="UserEmail" type="text" id="email" placeholder="Email">
                    <div class="errors-wrap">
                        <span asp-validation-for="UserEmail" class="text-danger"></span>
                        <span class="show-error" id="email-error" style="display:none;"></span>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="label-wrap">
                        <label for="password">Mật khẩu*</label>
                    </div>
                    <input asp-for="UserPassword" name="UserPassword" type="password" id="password" placeholder="Mật khẩu">
                    <div class="errors-wrap">
                        <span class="show-error" id="password-error" style="display:none;"></span>
                    </div>
                </div>
                <div class="gender-wrap">
                    <div class="label-wrap">
                        <label for="gender">Loại tài khoản*</label>
                    </div>
                    <div class="radio-wrap">
                        <input asp-for="UserRole" type="radio" id="radio1" name="UserRole" value="customer" checked>
                        <label for="radio1">Customer</label>
                        <input asp-for="UserRole" type="radio" id="radio2" name="UserRole" value="admin">
                        <label for="radio2">Admin</label>
                    </div>
                    <div class="errors-wrap">
                        <span class="show-error" id="gender-error" style="display:none;">*Vui lòng chọn Giới tính của bạn</span>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="label-wrap">
                        <label for="address">Địa chỉ*</label>
                    </div>
                    <input asp-for="Address" name="Address" type="text" id="address" placeholder="Địa chỉ">
                    <div class="errors-wrap">
                        <span class="show-error" id="address-error" style="display:none;">*Vui lòng nhập Địa chỉ của bạn</span>
                    </div>
                </div>
                <div class="others-wrap">
                    <div class="button-wrap">
                        <button class="sign-in-btn" type="submit">TẠO TÀI KHOẢN</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="~/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="~/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="~/plugins/moment/moment.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="~/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/dist/js/pages/dashboard.js"></script>
<script src="~/js/admin.js"></script>
