@model IEnumerable<ALittleLeaf.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}
<!--------------------------------------------Collections----------------------------------------------------->
<div class="collections-wrap">
    <!--------------------------------------------DIRECT----------------------------------------------------->
    <div class="direct">
        <div class="direct-items">
            <a asp-controller="Home" asp.action="Index">Trang chủ</a> <p> / <a href="">Danh mục</a> <p> / </p>@ViewBag.CategoryName</p>
        </div>
    </div>
    <!--------------------------------------------COLLECTIONS----------------------------------------------------->
    <div class="collections-content">
        <!--------------------------------------------Collections-MENU----------------------------------------------------->
        <div class="menu-wrap">
            <ul class="menu-tree">
                <li class="menu-item">
                    <a href="~/collections.php?category_id=category_id">category name</a>
                        <ion-icon name="remove-outline"></ion-icon>
                            <ul class="sub-menu">
                                <li class="sub-menu-item">
                                    <a href="~/collections.php?category_id=sub_category_id">Sub category name</a>
                                </li>
                            </ul>
                </li>
            </ul>
        </div>
        <!--------------------------------------------COLLECTIONS-ITEMS----------------------------------------------------->
        <div class="collections-item-wrap">
            <div class="collections-heading-wrap">
                <div class="collections-title">
                    <h1>@ViewBag.CollectionName</h1>
                </div>
            </div>
            <div class="collections-item">
                @foreach (var product in Model)
                {
                    <div class="item-wrap">
                        <div class="item-picture">
                            <a href="./product.php?product_id=' . $row['product_id']. ' ">
                                <img src="~/img/prdImg/@product.ProductImg" alt="@product.ProductName">
                            </a>
                        </div>
                        <div class="item-detail">
                            <h3>
                                <a href="./product.php?product_id=' . $row['product_id']. ' ">product.ProductName</a>
                            </h3>
                            <p class="item-price">@product.ProductPrice ₫</p>
                        </div>
                    </div>
                }
            </div>
            
            <div class="collections-footer-wrap">
                <a href="./collections.php?category_id=' . $category_id . '&page=' . ($current_page - 1) . '" class="prevPage"><i class="fa-solid fa-arrow-left-long"></i></a>';
                    <ul class="page-list">
                        <li><a href="./collections.php?category_id=' . $category_id . '&page=' . $i . '" style="font-weight: bold;">' . $i . '</a></li>';
                        <li><a href="./collections.php?category_id=' . $category_id . '&page=' . $i . '">' . $i . '</a></li>';
                    </ul>
                    <a href="./collections.php?category_id=' . $category_id . '&page=' . ($current_page + 1) . '" class="nextPage"><i class="fa-solid fa-arrow-right-long"></i></a>';
                    <a href="./collections.php?page=' . ($current_page - 1) . '" class="prevPage"><i class="fa-solid fa-arrow-left-long"></i></a>
                    <ul class="page-list">
                        <li><a href="./collections.php?page=' . $i . '" style="font-weight: bold;">' . $i . '</a></li>';
                        <li><a href="./collections.php?page=' . $i . '">' . $i . '</a></li>
                    </ul>
                    <a href="./collections.php?page=' . ($current_page + 1) . '" class="nextPage"><i class="fa-solid fa-arrow-right-long"></i></a>
                    </div>
        </div>
    </div>
</div>
       