@model ALittleLeaf.ViewModels.EditUserViewModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Thông tin người dùng";
    var categories = ViewData["categories"] as List<ALittleLeaf.ViewModels.CollectionsMenuViewModel>;
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Sửa thông tin người dùng</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Sửa thông tin người dùng</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary"> 
    <div class="card-header">
        <h3 class="card-title">Thông tin người dùng</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form asp-area="Admin" asp-controller="Users" asp-action="Update" method="post">
            <div class="form-group">
                <label for="user_fullname">Tên người dùng</label>
                <input type="text" class="form-control" id="user_fullname" name="UserFullname" value="@Model.UserFullname" required>
            </div>
            <input type="hidden" name="UserId" value="@Model.UserId">
            
            <div class="form-group">
                <label for="user_email">Email</label>
                <input type="email" class="form-control" id="user_email" name="UserEmail" value="@Model.UserEmail" required>
            </div>

            <div class="form-group">
                <label for="user_password">Mật khẩu mới</label>
                <input type="password" class="form-control" id="user_password" name="UserNewPassword" value="">
            </div>

            <div class="form-group">
                <label for="user_sex">Giới tính</label>
                                    <select class="form-control" id="user_sex" name="UserSex">
                                        @if (Model.UserSex == true)
                                        {
                                            <option value="true" selected>Nữ</option>
                                            <option value="false">Nam</option>
                                        }
                                        else
                                        {
                                            <option value="true">Nữ</option>
                                            <option value="false" selected>Nam</option>
                                        }
                                    </select>
            </div>

            <div class="form-group">
                <label for="user_birthday">Ngày sinh</label>
                                    <input type="date" class="form-control" id="user_birthday" name="UserBirthday" value="@Model.UserBirthday.ToString("yyyy-MM-dd")" required>
            </div>

            <div class="form-group">
                <label for="user_isActive">Trạng thái</label>
                <select class="form-control" id="user_isActive" name="UserIsActive">
                    @if(Model.UserIsActive == true)
                                        {
                                            <option value="true" selected>Đang hoạt động</option>
                                            <option value="false">Khóa</option>
                                        }
                                        else
                                        {
                                            <option value="true">Hoạt động</option>
                                            <option value="false" selected>Đang bị khóa</option>
                                        }
                </select>
            </div>

            <div class="form-group">
                <label for="user_role">Vai trò</label>
                <select class="form-control" id="user_role" name="UserRole">
                                        @if (Model.UserRole == "customer")
                                        {
                                            <option value="admin">Admin</option>
                                            <option value="customer" selected>Khách hàng</option>
                                        }
                                        else
                                        {
                                            <option value="admin" selected>Admin</option>
                                            <option value="customer">Khách hàng</option>
                                        }
                                    </select>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật thông tin người dùng</button>
        </form>
    </div>
    <!-- /.card-body -->
</div>

                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="~/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="~/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="~/plugins/moment/moment.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="~/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/dist/js/pages/dashboard.js"></script>
<script src="~/js/admin.js"></script>
