@section AccountStyle {
    <link rel="stylesheet" href="~/css/account.css">
}

@{
    ViewData["Title"] = "Tài khoản";
}
<!--------------------------------------------LAYOUT-ACCOUNT----------------------------------------------------->
<div class="layout-account">
    <div class="account-header">
        <h1>Tài khoản của bạn</h1>
    </div>
    <div class="account-content">
        <div class="row">
            <div class="sidebar-account">
                <div class="AccountSidebar">
                    <h3 class="account-title">Tài khoản</h3>
                    <div class="account-content">
                        <div class="account-list">
                            <ul>
                                <li>
                                    <a asp-controller="Account" asp-action="Index">Thông tin tài khoản</a>
                                </li>
                                <li>
                                    <a asp-controller="Address" asp-action="Index">Danh sách địa chỉ</a>
                                </li>
                                <li>
                                    <a asp-controller="Login" asp-action="Logout">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="customer-sidebar-wrap">
                <div class="row-inside">
                    <div class="customer-sidebar">
                        <p class="title-detail">Thông tin tài khoản</p>
                        @if (ViewContext.HttpContext.Session.GetString("UserFullname") != null)
                        {
                            <h2 class="account-name"> @ViewContext.HttpContext.Session.GetString("UserFullname") </h2>
                        }
                        @if (ViewContext.HttpContext.Session.GetString("UserEmail") != null)
                        {
                            <p class="account-email"> @ViewContext.HttpContext.Session.GetString("UserEmail") </p>
                        }
                        <div class="address">
                            <a id="view-address" asp-controller="Address" asp.action="Index">Xem địa chỉ</a>
                        </div>
                    </div>
                    @{
                        var userIdString = ViewContext.HttpContext.Session.GetString("UserId");  // Lấy UserId từ Session
                        long userId = 0;
                        if (!string.IsNullOrEmpty(userIdString))
                        {
                            long.TryParse(userIdString, out userId);  // Chuyển từ string sang long
                        }
                    }
                    <div class="customer-table-wrap">
                        @await Component.InvokeAsync("CustomerBills", new { userId = userId })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
