USE [master]
GO
/****** Object:  Database [ALittleLeafDecor]    Script Date: 25/10/2024 7:08:20 CH ******/
CREATE DATABASE [ALittleLeafDecor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ALittleLeafDecor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ALittleLeafDecor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ALittleLeafDecor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ALittleLeafDecor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ALittleLeafDecor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ALittleLeafDecor]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/10/2024 7:08:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address_List]    Script Date: 25/10/2024 7:08:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address_List](
	[adrs_id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [bigint] NOT NULL,
	[adrs_fullname] [nvarchar](255) NOT NULL,
	[adrs_address] [nvarchar](255) NOT NULL,
	[adrs_phone] [nvarchar](10) NOT NULL,
	[adrs_isDefault] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[adrs_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 25/10/2024 7:08:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [bigint] NOT NULL,
	[id_adrs] [int] NOT NULL,
	[date_created] [date] NOT NULL,
	[total_amount] [int] NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[payment_status] [nvarchar](50) NOT NULL,
	[is_confirmed] [bit] NOT NULL,
	[shipping_status] [nvarchar](50) NOT NULL,
	[note] [nvarchar](255) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill_Detail]    Script Date: 25/10/2024 7:08:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill_Detail](
	[bill_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[id_bill] [int] NOT NULL,
	[id_product] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [int] NOT NULL,
	[total_price] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 25/10/2024 7:08:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[category_parent_id] [int] NULL,
	[category_img] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25/10/2024 7:08:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[id_category] [int] NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[product_price] [int] NOT NULL,
	[product_description] [nvarchar](max) NULL,
	[quantity_in_stock] [int] NOT NULL,
	[is_onSale] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK__Product__47027DF5D9D271A0] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Images]    Script Date: 25/10/2024 7:08:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Images](
	[img_id] [int] IDENTITY(1,1) NOT NULL,
	[id_product] [int] NOT NULL,
	[img_name] [nvarchar](255) NOT NULL,
	[is_primary] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25/10/2024 7:08:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_email] [nvarchar](255) NOT NULL,
	[user_password] [nvarchar](255) NOT NULL,
	[user_fullname] [nvarchar](255) NOT NULL,
	[user_sex] [bit] NOT NULL,
	[user_birthday] [date] NOT NULL,
	[user_isActive] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[user_role] [varchar](20) NOT NULL,
 CONSTRAINT [PK__User__B9BE370FE2FFFB58] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address_List] ON 

INSERT [dbo].[Address_List] ([adrs_id], [id_user], [adrs_fullname], [adrs_address], [adrs_phone], [adrs_isDefault], [created_at], [updated_at]) VALUES (3, 3, N'La Hoành Nghiệp', N'439/41 Hồ Học Lãm, Phường An Lạc, Quận Bình Tân, Thành phố Hồ Chí Minh', N'0832963381', 0, CAST(N'2024-10-13T00:18:31.687' AS DateTime), CAST(N'2024-10-13T00:18:31.687' AS DateTime))
INSERT [dbo].[Address_List] ([adrs_id], [id_user], [adrs_fullname], [adrs_address], [adrs_phone], [adrs_isDefault], [created_at], [updated_at]) VALUES (4, 3, N'Hoành Nghiệp', N'Địa chỉ teest 2', N'0937029984', 1, CAST(N'2024-10-13T00:18:31.687' AS DateTime), CAST(N'2024-10-13T00:18:31.687' AS DateTime))
INSERT [dbo].[Address_List] ([adrs_id], [id_user], [adrs_fullname], [adrs_address], [adrs_phone], [adrs_isDefault], [created_at], [updated_at]) VALUES (5, 4, N'Test thêm người dùng', N'Test thêm địa chỉ admin', N'0906229987', 1, CAST(N'2024-10-13T00:18:31.687' AS DateTime), CAST(N'2024-10-13T00:18:31.687' AS DateTime))
SET IDENTITY_INSERT [dbo].[Address_List] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name], [category_parent_id], [category_img], [created_at], [updated_at]) VALUES (1, N'Bếp', 0, N'bep.jpg', CAST(N'2024-10-12T17:32:03.000' AS DateTime), CAST(N'2024-10-12T17:32:03.000' AS DateTime))
INSERT [dbo].[Category] ([category_id], [category_name], [category_parent_id], [category_img], [created_at], [updated_at]) VALUES (2, N'Picnic Day', 0, N'picnicday.webp', CAST(N'2024-10-12T17:32:03.000' AS DateTime), CAST(N'2024-10-12T17:32:03.000' AS DateTime))
INSERT [dbo].[Category] ([category_id], [category_name], [category_parent_id], [category_img], [created_at], [updated_at]) VALUES (3, N'Cốc, Ly', 0, N'cocly.jpg', CAST(N'2024-10-12T17:32:03.000' AS DateTime), CAST(N'2024-10-12T17:32:03.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [id_category], [product_name], [product_price], [product_description], [quantity_in_stock], [is_onSale], [created_at], [updated_at]) VALUES (1, 9, N'Ấm Tráng Men Mickey', 545000, N'', 98, 1, CAST(N'2024-10-12T17:52:59.410' AS DateTime), CAST(N'2024-10-12T17:52:59.410' AS DateTime))
INSERT [dbo].[Product] ([product_id], [id_category], [product_name], [product_price], [product_description], [quantity_in_stock], [is_onSale], [created_at], [updated_at]) VALUES (2, 9, N'Ấm Tráng Men Daisy', 740000, N'Kích thước\n\r\n- Đường kính miệng: 8.5cm\n\r\n- Đường kính đáy: 12cm\n\r\n- Cao: 12 cm\n\r\n- Dung tích: 1.5L\n\r\n- Trọng lượng:1kg\n', 94, 1, CAST(N'2024-10-12T17:52:59.410' AS DateTime), CAST(N'2024-10-12T17:52:59.410' AS DateTime))
INSERT [dbo].[Product] ([product_id], [id_category], [product_name], [product_price], [product_description], [quantity_in_stock], [is_onSale], [created_at], [updated_at]) VALUES (3, 9, N'Bếp Nướng Cồn Tròn', 345000, N'- Chất liệu: Hợp kim nhôm, gỗ sồi\n\r\n\n\r\n- Kích thước: \n\r\n\n\r\n+ Nhỏ: 16 x 10 cm (đường kính x chiều cao)\n\r\n\n\r\n+ Lớn: 21 x 10 cm (đường kính x chiều cao)\n', 97, 1, CAST(N'2024-10-12T17:52:59.410' AS DateTime), CAST(N'2024-10-12T17:52:59.410' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Images] ON 

INSERT [dbo].[Product_Images] ([img_id], [id_product], [img_name], [is_primary], [created_at], [updated_at]) VALUES (1, 74, N'ampicnic1.webp', 1, CAST(N'2024-10-12T18:20:48.740' AS DateTime), CAST(N'2024-10-12T18:22:12.947' AS DateTime))
INSERT [dbo].[Product_Images] ([img_id], [id_product], [img_name], [is_primary], [created_at], [updated_at]) VALUES (2, 74, N'ampicnic2.webp', 0, CAST(N'2024-10-12T18:20:48.740' AS DateTime), CAST(N'2024-10-12T18:20:48.740' AS DateTime))
INSERT [dbo].[Product_Images] ([img_id], [id_product], [img_name], [is_primary], [created_at], [updated_at]) VALUES (3, 74, N'ampicnic3.jpg', 0, CAST(N'2024-10-12T18:20:48.740' AS DateTime), CAST(N'2024-10-12T18:20:48.740' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Product_Images] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [user_email], [user_password], [user_fullname], [user_sex], [user_birthday], [user_isActive], [created_at], [updated_at], [user_role]) VALUES (1, N'hoanhnghiep2704@gmail.com', N'4L27hN04@', N'La Hoành Nghiệp', 1, CAST(N'2004-04-27' AS Date), 1, CAST(N'2024-10-13T00:04:25.293' AS DateTime), CAST(N'2024-10-13T00:04:25.293' AS DateTime), N'customer')
INSERT [dbo].[User] ([user_id], [user_email], [user_password], [user_fullname], [user_sex], [user_birthday], [user_isActive], [created_at], [updated_at], [user_role]) VALUES (2, N'admin1@gmail.com', N'adminAa@', N'La Hoành Nghiệp', 1, CAST(N'2004-04-27' AS Date), 1, CAST(N'2024-10-13T00:04:25.293' AS DateTime), CAST(N'2024-10-13T00:11:42.457' AS DateTime), N'admin')
INSERT [dbo].[User] ([user_id], [user_email], [user_password], [user_fullname], [user_sex], [user_birthday], [user_isActive], [created_at], [updated_at], [user_role]) VALUES (3, N'admin2@gmail.com', N'adminAa@', N'La Hoành Nghiệp', 1, CAST(N'2004-04-27' AS Date), 1, CAST(N'2024-10-13T00:04:25.293' AS DateTime), CAST(N'2024-10-13T00:11:45.763' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Address_List] ADD  DEFAULT ((0)) FOR [adrs_isDefault]
GO
ALTER TABLE [dbo].[Address_List] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Address_List] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0)) FOR [is_confirmed]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Bill_Detail] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bill_Detail] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__is_onSa__4CA06362]  DEFAULT ((0)) FOR [is_onSale]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__created__4D94879B]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__updated__4E88ABD4]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Product_Images] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Product_Images] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Product_Images] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__user_isAct__38996AB5]  DEFAULT ((1)) FOR [user_isActive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__created_at__398D8EEE]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__updated_at__3A81B327]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__user_role__7D439ABD]  DEFAULT ('customer') FOR [user_role]
GO
ALTER TABLE [dbo].[Address_List]  WITH CHECK ADD  CONSTRAINT [FK__Address_L__id_us__403A8C7D] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Address_List] CHECK CONSTRAINT [FK__Address_L__id_us__403A8C7D]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([id_adrs])
REFERENCES [dbo].[Address_List] ([adrs_id])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__updated_at__44FF419A] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__updated_at__44FF419A]
GO
ALTER TABLE [dbo].[Bill_Detail]  WITH CHECK ADD FOREIGN KEY([id_bill])
REFERENCES [dbo].[Bill] ([bill_id])
GO
ALTER TABLE [dbo].[Bill_Detail]  WITH CHECK ADD  CONSTRAINT [FK__Bill_Deta__id_pr__5535A963] FOREIGN KEY([id_product])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Bill_Detail] CHECK CONSTRAINT [FK__Bill_Deta__id_pr__5535A963]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__id_cate__4F7CD00D] FOREIGN KEY([id_category])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__id_cate__4F7CD00D]
GO
ALTER TABLE [dbo].[Product_Images]  WITH CHECK ADD  CONSTRAINT [FK__Product_I__id_pr__5AEE82B9] FOREIGN KEY([id_product])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product_Images] CHECK CONSTRAINT [FK__Product_I__id_pr__5AEE82B9]
GO
USE [master]
GO
