@{
    var cart = ViewData["cart"] as List<ALittleLeaf.ViewModels.CartItemViewModel>;
    var totalItems = 0;
    foreach (var item in cart)
    {
        totalItems += item.Quantity;
    }
}
<header>
    <div class="homeLogo">
        <a asp-controller="Home" asp.action="Index"><img src="~/img/logo.webp" alt=""></a>
    </div>
    <div class="menu">
        <ul>
            <li><a asp-controller="Home" asp.action="Index">Trang chủ</a></li>
            <li>
                <a href="~/collections">Sản phẩm <ion-icon name="chevron-down-outline"></ion-icon></a>
                @await Component.InvokeAsync("HeaderCategory")
            </li>
            <li><a href="">Về A Little Leaf</a></li>
        </ul>
    </div>
    <div class="headerOthers">
        <ul class="others">
            @if (ViewContext.HttpContext.Session.GetString("UserEmail") != null)
            {
                <!-- Nếu Login rồi -->
                <li><a asp-controller="Account" asp-action="Index"><ion-icon name="person-circle-outline"></ion-icon></a></li>
            }
            else
            {
                <!-- Nếu chưa Login -->
                <li><a asp-controller="Login" asp-action="Index"><ion-icon name="person-circle-outline"></ion-icon></a></li>
            }
            <li><a href="" id="open-site-search"><ion-icon name="search-outline"></ion-icon></a></li>
            <li>
                <a href="" id="open-site-cart">
                    <ion-icon name="bag-outline"></ion-icon>
                    <span class="count-holder">
                        <span class="count">@totalItems</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</header>