@model ALittleLeaf.ViewModels.AddProductViewModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Thêm sản phẩm";
    var categories = ViewData["categories"] as List<ALittleLeaf.ViewModels.CollectionsMenuViewModel>;
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Thêm sản phẩm</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thêm sản phẩm</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin sản phẩm</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form asp-area="Admin" asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data" onsubmit="convertNewlines()">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label for="product_name">Tên sản phẩm</label>
                                    <input asp-for="ProductName" name="ProductName" type="text" class="form-control" id="product_name" required>
                                </div>
                                <div class="form-group">
                                    <label for="id_category">Danh mục</label>
                                    <select asp-for="IdCategory" class="form-control" id="id_category" name="IdCategory">
                                        @foreach (var category in categories)
                                        {
                                            <!--Option Category-->
                                            <option value="@category.CategoryId">@category.CategoryName</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="product_price">Giá tiền</label>
                                    <input asp-for="ProductPrice" name="ProductPrice" type="text" class="form-control" id="product_price" required>
                                </div>
                                <div class="form-group">
                                    <label for="product_description">Mô tả sản phẩm</label>
                                    <textarea asp-for="ProductDescription" name="ProductDescription" class="form-control" id="product_description" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="quantity_in_stock">Số lượng trong kho</label>
                                    <input asp-for="QuantityInStock" name="QuantityInStock" type="number" class="form-control" id="quantity_in_stock" min="0" required>
                                </div>
                                <div class="form-group">
                                    <label for="product_images">Hình ảnh sản phẩm</label>
                                    <div id="image_inputs">
                                        <div class="image-input">
                                        
                                        </div>
                                    </div>
                                    <button type="button" id="add_image_input" class="btn btn-primary mt-2">Thêm ảnh</button>
                                </div>
                                <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
                            </form>
                        </div>
                    <!-- /.card-body -->
                    </div>
                <!-- /.card -->
                </div>
            </div>
        <!-- /.row -->
        </div>
    <!-- /.container-fluid -->
    </div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>
    <script src="~/js/admin.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var imageInputsContainer = document.getElementById('image_inputs');
            var addImageButton = document.getElementById('add_image_input');

            // Tạo trường input đầu tiên
            createImageInput();

            addImageButton.addEventListener('click', function () {
                // Thêm trường input mới khi nhấn nút "Thêm ảnh"
                createImageInput();
            });

            function createImageInput() {
                var imageInputWrapper = document.createElement('div');
                imageInputWrapper.classList.add('image-input');

                var imageInput = document.createElement('input');
                imageInput.type = 'file';
                imageInput.classList.add('form-control-file');
                imageInput.name = 'ProductImages';
                imageInput.accept = 'image/*';
                imageInput.required = true;

                var previewImageContainer = document.createElement('div');
                previewImageContainer.classList.add('preview-image', 'mt-2');

                imageInputWrapper.appendChild(imageInput);
                imageInputWrapper.appendChild(previewImageContainer);
                imageInputsContainer.appendChild(imageInputWrapper);

                // Xử lý sự kiện change cho trường input mới
                imageInput.addEventListener('change', function (event) {
                    var file = event.target.files[0];
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        var previewImage = document.createElement('img');
                        previewImage.src = event.target.result;
                        previewImage.classList.add('img-thumbnail', 'mr-2', 'mb-2');
                        previewImageContainer.innerHTML = '';
                        previewImageContainer.appendChild(previewImage);
                    };

                    reader.readAsDataURL(file);
                });

                // Gọi sự kiện change cho trường input đầu tiên
                imageInput.dispatchEvent(new Event('change'));
            }
        });
    </script>
<script>
        // Hàm này sẽ thực hiện chuyển đổi ký tự xuống dòng thành ký tự xuống dòng \n
        function convertNewlines() {
            var descriptionTextarea = document.getElementById('product_description');
            var description = descriptionTextarea.value;
            var descriptionWithNewlines = description.replace(/<br>/g, '\n');
        descriptionTextarea.value = descriptionWithNewlines;
    }
</script>