@section LoginRegisterStyle {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewData["Title"] = "Đăng nhập";
}
<!--------------------------------------------LOGIN----------------------------------------------------->
<div class="login-wrap">
    <div class="login-title-wrap">
        <div class="header">
            <h1>Đăng nhập</h1>
        </div>
    </div>
    <div class="form-wrap">
        <div class="form">
            <form action="./function/login_function.php" method="post" onsubmit="return checkLogin()">
                <div class="errors-wrap">
                    <span class="show-error" id="error-all" style="display: block;">*Thông tin đăng nhập không hợp lệ<br>Mời bạn kiểm tra lại</span>
                </div>
                <div class="errors-wrap">
                    <span class="show-error" id="error-all" style="display: block;">*Tài khoản của bạn đã bị khóa<br>Vui lòng liên hệ admin để được hỗ trợ</span>
                </div>
                <div class="input-wrap">
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="errors-wrap">
                    <span class="show-error" id="error-email">*Vui lòng nhập Email của bạn</span>
                </div>
                <div class="input-wrap">
                    <input type="password" name="password" id="password" placeholder="Mật khẩu">
                </div>
                <div class="errors-wrap">
                    <span class="show-error" id="error-password">*Vui lòng nhập mật khẩu của bạn</span>
                </div>
                <div class="others-wrap">
                    <div class="button-wrap">
                        <button class="sign-in-btn" type="submit" value="login">ĐĂNG NHẬP</button>
                    </div>
                    <div class="reg-pass">
                        <a href="#">Quên mật khẩu?</a>
                        <br>
                        hoặc
                        <a asp-controller="Register" asp.action="Index">Đăng ký</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
      