@model ALittleLeaf.ViewModels.UserLoggedViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/login.css">
}

@section HeadScripts {
    <script src="~/js/validLoginAndRegistry.js" defer></script>
}

@{
    ViewData["Title"] = "Đăng nhập";
}
<!--------------------------------------------LOGIN----------------------------------------------------->
<div class="login-wrap">
    <div class="login-title-wrap">
        <div class="header">
            <h1>Đăng nhập</h1>
        </div>
    </div>
    <div class="form-wrap">
        <div class="form">
            <form action="~/Login/Login" method="post" onsubmit="return checkLogin()">
                <div class="errors-wrap">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <span class="show-error" id="error-all" style="display: block;">@ViewBag.ErrorMessage</span>
                    }
                </div>
                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl">
                <div class="input-wrap">
                    <input asp-for="UserEmail" type="email" name="UserEmail" id="email" placeholder="Email">
                </div>
                <div class="errors-wrap">
                    <span class="show-error" id="error-email">*Vui lòng nhập Email của bạn</span>
                </div>
                <div class="input-wrap">
                    <input asp-for="UserPassword" type="password" name="UserPassword" id="password" placeholder="Mật khẩu">
                </div>
                <div class="errors-wrap">
                    <span class="show-error" id="error-password">*Vui lòng nhập mật khẩu của bạn</span>
                </div>
                <div class="others-wrap">
                    <div class="button-wrap">
                        <button class="sign-in-btn" type="submit" value="login">ĐĂNG NHẬP</button>
                    </div>
                    <div class="reg-pass">
                        <a href="#">Quên mật khẩu?</a>
                        <br>
                        hoặc
                        <a asp-controller="Register" asp-action="Index">Đăng ký</a>
                    </div>
                </div>
                <script></script>
            </form>
        </div>
    </div>
</div>
      